<html>
<body id="front">
<h1 id="front-page-heading">Glycemopedia</h1>
<p>Take Charge of Your Health</p>
<div id="links">
<%= link_to 'Login', '/login', :class =>'index' %> <span style="color:#ffffff; font-size:30px">|</span> <%= link_to 'Signup', '/signup', :class =>'index' %>
</div>
</body>
</html>
